body{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url(../img/space.gif) repeat 0 0;
}

h1{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 60px;
text-transform: uppercase;
color: rgba(255,255,255, 0.8);
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6600cc, 0 0 70px #6600cc, 0 0 80px #6600cc, 0 0 100px #6600cc, 0 0 150px #6600cc;
}

table{
  padding: 0;
  border: 0;
}
tbody td {
  width: 100px;
  height: 100px;
  background-color: black;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  /*background-size: 100px auto;*/
  border: 2px solid #6600cc;
}

